<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="home">

<head>
	<title>SHOP</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css} " />
</head>

</head>

<body>
	<div class="mt-5" layout:fragment="sectionAdmin">
		<div class="card text-center">
			<div class="card-header">
				<h5 class="card-title">Add new article</h5>
			</div>
			<div class="card-body">

				<form th:action="@{saveCity}" method="post">
					<div th:if="${city.getId() != null}">
						<div class="form-group">
							<label class="control-label"></label>
							<!--ID-->
							<input type="hidden" class="form-control" name="id" th:value="${city.id}">
							<span th:errors="${city.id}" class="text-danger"></span>
						</div>
					</div>
					<div class="form-group mb-3">
						<label class="control-label">City name</label>
						<input type="text" class="form-control" name="name" th:value="${city.name}">
						<span th:errors="${city.name}" class="text-danger"></span>
					</div>
					<div class="form-group mb-3">
						<label class="control-label">Department</label>
						<input type="text" class="form-control" name="department" th:value="${city.department}">
						<span th:errors="${city.department}" class="text-danger"></span>
					</div>
					


					<button type="submit" class="btn btn-primary">Save</button>
				</form>

			</div>
		</div>
	</div>


	<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}">
	</script>
	<script th:src="@{/webjars/popper.js/2.9.2/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/5.0.1/js/bootstrap.min.js}"></script>
</body>

</html>