<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="home">

<head>
	<title>SHOP</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.css" rel="stylesheet"
		type="text/css" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

</head>

<body>
	<div class="mt-4" layout:fragment="section">


		<div class="row row-cols-1 row-cols-md-4 g-2 mt-3 ">

			<div class="col mb-5 d-flex justify-content-center" th:each="c:${cinemas}">
				<div class="card">
					<li class="list-group-item h3" th:text="${c.name}+' à '+${cityName}"></li>
					<div class="card-body">
						<ul class="list-group list-group-flush">
							<li class="list-group-item" th:text="${c.address.address1}"></li>
							<li class="list-group-item" th:text="${c.address.address2}"></li>
							<li class="list-group-item" th:text="${c.address.codeZip}"></li>
							<li class="list-group-item" th:text="${c.address.town}"></li>
							<li class="list-group-item" th:text="${c.address.country}"></li>
						</ul>
					</div>
					<div class="card-footer text-muted">
						<a th:href="@{/(cinema_id=${c.id})}" class="btn btn-secondary ">Choose it</a>
					</div>
				</div>
			</div>

		</div>
		<div class="card-footer text-muted">
			<nav aria-label="...">
				<ul class="pagination justify-content-center">


					<li th:class="${currentPage==0 ? 'page-item disabled' : 'page-item'} ">
						<a class="page-link"
							th:href="@{ /(page=${currentPage-1}, size=${size}, keyWord=${keyWord} ) }">Previous</a>
					</li>

					<li th:each="page,status:${pages}"><a
							th:class="${status.index==currentPage?'btn btn-primary':'btn'  }"
							th:href="@{ /(page=${status.index}, size=${size}, keyWord=${keyWord}) }"
							th:text="${status.index }"></a></li>

					<li class="page-item"><a class="page-link"
							th:href="@{ /(page=${currentPage+1}, size=${size}, keyWord=${keyWord} )}">Next</a>
					</li>
					<li class="page-item"><a class="page-link"
							th:href="@{ /(page=${totalPages-1}, size=${size}, keyWord=${keyWord} )}">Last</a>

					</li>
				</ul>
			</nav>
		</div>
	</div>




	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
</body>

</html>